.header_dyeiri{
    margin-top:10px;
}
.logo_image
{
    width: 88px!important;
    margin-top:-35px;
    height: 88px!important;
    margin-bottom: 13px!important;

}

.logo_image_mobile
{
    width: 70px;
    height: 74px;
    margin-top: -32px;
}

.logo_image_menu
{
    width: 100px;
    height: 92px;


}

.be_delivery_man:hover {
    text-decoration: none;
    color: #7dc440;
}

.be_delivery_man
{
    font-size:20px!important;
    text-decoration: none;
    color:#7dc440;
    border:1px solid white;
    width: 180px;
    text-align: center;
    height: 30px;
    display:block;
    border-radius: 5px;
}

.page_content
{
    margin-top:120px;
}

.profile_img
{
    width: 250px;
    height: 250px;
}

.username
{
    font-size: 30px;
    color:black;
    font-weight: normal;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.address
{
    font-size: 16px;
    color:black;
    font-weight: bold;

}
.panel-profile
{
    width: 250px;
}

.panel-heading
{
    font-size: 15px;
    text-align: center;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.cmn-toggle-switch>span
{
    background: #7dc440!important;
}

.cmn-toggle-switch>span:before
{
    background: #7dc440!important;
}

.cmn-toggle-switch>span:after
{
    background: #7dc440!important;
}

.margin_10
{
    margin-top:10px;
}

.report_user>a:hover
{
    text-decoration: underline;
    color:black;
}
.report_user>a
{
    color:black;
}

.user_information
{
    line-height: 2;
}

.panel-item
{
    font-size: 15px;
}

.user_verified
{
    font-size: 18px;
}

.wish_list
{
    font-size: 24px;
}
.wish_list_count
{
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .username{
        font-size: 14px;
        font-weight: bold;
        font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif
    }

    .become_chef
    {
        text-align: inherit!important;
        height: 44px!important;
    }

    .chef_register
    {   background-color: black;
        background-size: cover;
        background: none;
    }

    .user_register
    {
        background-color: black;
        background-size: cover;
        background: none;
    }
}

.tab-content
{
    border: none;
}

.

#count
{
    display:none!important;
}

.logo_tag
{
    color:#7dc440;
}

.with_work_us
{
    width: 165px;
    height: 160px;
}

.chef_register
{
    background: url(../img/bg_chef_register.jpeg) no-repeat;
    background-size: cover;
}

.chef_register_title
{
    font-size: 4em!important;
    color:white;
}

.user_register_title
{
    font-size: 4em!important;
    color:white;
}

.user_register
{
    background: url(../img/bg_client_register.jpg) no-repeat;
    background-size: cover;
}

.second_title_register
{
    color:white;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

.my_btn_select
{
    border-radius: 0px;
    -webkit-appearance: button;
    background-color: #ededed;
}



